.root {
    -fx-font-family: Roboto;
    src: "/resources/roboto/Roboto-Regular.ttf";
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane{
    -fx-tab-min-width:100px;
    -fx-background-color: whitesmoke;
}

.tab{
    -fx-background-color: whitesmoke;
}
.tab-pane .tab{
    -fx-background-color: whitesmoke;

}

.tab-pane .tab:selected{
    -fx-background-color: #efefef;
    -fx-border-color: #efefef;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-fill: #efefef;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-fill: #efefef;
}